* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.my-404-container h1 {
  margin: 5rem 0;
}

.my-404-container p {
  text-align: center;
  font-size: 1.75rem;
}

.my-404-container .go-back--wrapper {
  text-align: center;
  margin-top: 10rem;
}
