/* General */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-size: 3.2rem;
  margin: 0;
  color: #2a2825;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.23px;
  text-align: center;
}

.pledges-list--component .pledges-list--container {
  padding: 20px 15px 0 15px;
}

.empty-pledges-list-notice {
  text-align: center;
  font-style: italic;
  padding: 60px 0;
  background: #f2f2f2;
  border-radius: 5px;
}

.pledge-list-item .pledge-recipient .heading,
.pledge-list-item .pledge-referee .heading {
  font-weight: bold;
}

.pledge-notice {
  padding: 15px;
  background: #f2f2f2;
  border-top: 1px solid grey;
  font-style: italic;
}

.expired-pledge-notice {
  color: #b23d3d;
}

.confirmed-pledge-notice {
  color: green;
}
