.metamask-modal {
  padding-bottom: 70px;
}
.metamask-modal h2 {
  margin: 75px 0 50px 0;
}
.metamask-modal p {
  font-size: 17px;
}
.metamask-modal p.cta {
  text-align: center;
}
.metamask-modal .iframe-wrapper {
  margin: 50px;
  text-align: center;
}
