
.icon-beaker-1:before { content: '\e800'; } /* '' */
.icon-link:before { content: '\e801'; } /* '' */
.icon-data-science:before { content: '\f016'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */